In [2]:
print('welcome')

welcome

In [19]:
#LIST
#Lists are mutable
#sort(): Sorts the elements of a list in place
#sorted(): Assign the sorted elements to a new list and the original list is left as is. 
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))# dont change original list
print (L)
L.sort() #change original list
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']
['five', 'four', 'one', 'six', 'three', 'two']

In [4]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

[]

In [45]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [49]:
#replacing item in list
thislist[1] = "blackcurrant"
thislist.insert(2, "watermelon")
thislist

['apple',
 'blackcurrant',
 'watermelon',
 'watermelon',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango']

In [5]:
#Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list.remove('SPSS')
input_list.append('SPARK')
print(input_list)

['SAS', 'R', 'PYTHON', 'SPARK']

In [52]:
# extend()
L = ["Chemistry", "Biology", [1989,  2004] ,("Oreily" , "Pearson")]
L.extend([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [53]:
# append()
L = ["Chemistry", "Biology", [1989,  2004], ("Oreily" , "Pearson")]
L.append([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

In [54]:
#pop() Remove and return the item at index (default last)
L.pop()
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [55]:
#remove(value): Remove the first occurrence of a value in the list
L.remove('Biology')
L

['Chemistry', [1989, 2004], ('Oreily', 'Pearson')]

In [56]:
del L[0]
L

[[1989, 2004], ('Oreily', 'Pearson')]

In [57]:
L.clear()
L

[]

In [20]:
#Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. 
#The sample output of this string will be:
#Pythons syntax is easy to learn & Pythons syntax is very clear
m= ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
string_1 = m[0] + ' & ' + m[1]
print(string_1)

Pythons syntax is easy to learn & Pythons syntax is very clear

In [30]:
#Tuples
#Tuples are ordered sequences, which means the order in which the elements are inserted remains the same. 
#This makes them flexible for indexing and slicing just like lists
t = ("disco", 12, 4.5)
print(type(t))
t[0][2]

<class 'tuple'>

's'

In [23]:
#tuples are immutable, 
#one way to do this is to convert the tuple to a list, add the element, 
#and convert it back to a tuple.
#Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969)
input_tuple = ('Monty Python', 'British', 1969)
tuple_2= input_tuple[0:3] + ('Python',)
print(tuple_2)

('Monty Python', 'British', 1969, 'Python')

In [60]:
#If the number of variables is less than the number of values, 
#you can add an * to the variable name and the values will be assigned to the variable as a list:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, *yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [84]:
#SETS
#unordered unchangable no duplicates
#Set items can appear in a different order every time you use them, and cannot be referred to by index or key
Grades = ["A", "A", "B", "C", "D", "B", "B", "C", "D", "G", "C", "C", "A", "B", "F", "D", "C", "B", "C", "A", "B", "F", "B", "A", "E", "B", "B", "C", "D"]
G= set(Grades)
G

{'A', 'B', 'C', 'D', 'E', 'F', 'G'}

In [85]:
G.add('Z')
print(type(G))
G.update('V')
G

<class 'set'>

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'V', 'Z'}

In [86]:
G.remove('Z')
G.discard('V')
G

{'A', 'B', 'C', 'D', 'E', 'F', 'G'}

In [88]:
G.pop() #rando pop happens

'E'

In [25]:
A = {0,2,4,6,8}

B = {1,2,3,4,5}
A.union(B)

{0, 1, 2, 3, 4, 5, 6, 8}

In [26]:
A.intersection(B)

{2, 4}

In [27]:
A.difference(B) #elements present in A and not in B

{0, 6, 8}

In [29]:
A^B #union of the elements A and B minus the intersection of A and B.

{0, 1, 3, 5, 6, 8}

In [94]:
#Dictionaries
#changable, duplicates not allowed
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
xi = thisdict["model"]
xi

'Mustang'

In [96]:
thisdict["year"] = 2018
thisdict.update({'color':'yellow'})
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'yellow'}

In [98]:
thisdict.popitem()

('color', 'yellow')

In [92]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.items()
print(x) #before the change
car["color"] = "red"
print(x) #after the change
print(car)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [93]:
'color' in car

True

In [41]:
dict1={'Sam':21, 'Cody':12, 'Addy':3, 'Zach':45, 'Amy':6}
dict1.keys()
dict1.values()
sorted(dict1.values())

[3, 6, 12, 21, 45]

In [32]:
#Print a random integer between 100 and 135
# Import required libraries:
from random import seed
from random import randint

# Print a random integer in the given range:
print(randint(100,135))

121

In [37]:
#Create a list consisting of first 10 even numbers.
list = [i for i in range(2,21,2)]
list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [38]:
7 in list

False